[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "messydates"]
	path = messydates
	url = https://github.com/cran/messydates
	shallow = true
	registered = true
